[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
@font-face {
  font-family: Raleway-Regular;
  src: url("fonts/raleway/Raleway-Regular.ttf");
}
body{
  font-family: Raleway-Regular !important;
  min-height: 100vh;
  padding-top:25px;
}

.jsondiffpatch-annotated-delta {
    font-family:Raleway-Regular;
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 12px;
    display: inline-block;
  }
  .jsondiffpatch-annotated-delta pre {
    font-family: Raleway-Regular;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .jsondiffpatch-annotated-delta td {
    margin: 0;
    padding: 0;
  }
  .jsondiffpatch-annotated-delta td pre:hover {
    font-weight: bold;
  }
  td.jsondiffpatch-delta-note {
    font-style: italic;
    padding-left: 10px;
  }
  .jsondiffpatch-delta-note > div {
    margin: 0;
    padding: 0;
  }
  .jsondiffpatch-delta-note pre {
    font-style: normal;
  }
  .jsondiffpatch-annotated-delta .jsondiffpatch-delta-note {
    color: #777;
  }
  .jsondiffpatch-annotated-delta tr:hover {
    background: #ffc;
  }
  .jsondiffpatch-annotated-delta tr:hover > td.jsondiffpatch-delta-note {
    color: black;
  }
  .jsondiffpatch-error {
    background: red;
    color: white;
    font-weight: bold;
  }

  .jsondiffpatch-delta {
    font-family: Raleway-Regular;
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 12px;
    display: inline-block;
  }
  .jsondiffpatch-delta pre {
    font-family: Raleway-Regular;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  ul.jsondiffpatch-delta {
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 0;
  }
  .jsondiffpatch-delta ul {
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 0;
  }
  .jsondiffpatch-added .jsondiffpatch-property-name,
  .jsondiffpatch-added .jsondiffpatch-value pre,
  .jsondiffpatch-modified .jsondiffpatch-right-value pre,
  .jsondiffpatch-textdiff-added {
    background: #bbffbb;
  }
  .jsondiffpatch-deleted .jsondiffpatch-property-name,
  .jsondiffpatch-deleted pre,
  .jsondiffpatch-modified .jsondiffpatch-left-value pre,
  .jsondiffpatch-textdiff-deleted {
    background: #ffbbbb;
    text-decoration: line-through;
  }
  .jsondiffpatch-unchanged,
  .jsondiffpatch-movedestination {
    color: gray;
  }
  .jsondiffpatch-unchanged,
  .jsondiffpatch-movedestination > .jsondiffpatch-value {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    overflow-y: hidden;
  }
  .jsondiffpatch-unchanged-showing .jsondiffpatch-unchanged,
  .jsondiffpatch-unchanged-showing .jsondiffpatch-movedestination > .jsondiffpatch-value {
    max-height: 100px;
  }
  .jsondiffpatch-unchanged-hidden .jsondiffpatch-unchanged,
  .jsondiffpatch-unchanged-hidden .jsondiffpatch-movedestination > .jsondiffpatch-value {
    max-height: 0;
  }
  .jsondiffpatch-unchanged-hiding .jsondiffpatch-movedestination > .jsondiffpatch-value,
  .jsondiffpatch-unchanged-hidden .jsondiffpatch-movedestination > .jsondiffpatch-value {
    display: block;
  }
  .jsondiffpatch-unchanged-visible .jsondiffpatch-unchanged,
  .jsondiffpatch-unchanged-visible .jsondiffpatch-movedestination > .jsondiffpatch-value {
    max-height: 100px;
  }
  .jsondiffpatch-unchanged-hiding .jsondiffpatch-unchanged,
  .jsondiffpatch-unchanged-hiding .jsondiffpatch-movedestination > .jsondiffpatch-value {
    max-height: 0;
  }
  .jsondiffpatch-unchanged-showing .jsondiffpatch-arrow,
  .jsondiffpatch-unchanged-hiding .jsondiffpatch-arrow {
    display: none;
  }
  .jsondiffpatch-value {
    display: inline-block;
  }
  .jsondiffpatch-property-name {
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
  }
  .jsondiffpatch-property-name:after {
    content: ': ';
  }
  .jsondiffpatch-child-node-type-array > .jsondiffpatch-property-name:after {
    content: ': [';
  }
  .jsondiffpatch-child-node-type-array:after {
    content: '],';
  }
  div.jsondiffpatch-child-node-type-array:before {
    content: '[';
  }
  div.jsondiffpatch-child-node-type-array:after {
    content: ']';
  }
  .jsondiffpatch-child-node-type-object > .jsondiffpatch-property-name:after {
    content: ': {';
  }
  .jsondiffpatch-child-node-type-object:after {
    content: '},';
  }
  div.jsondiffpatch-child-node-type-object:before {
    content: '{';
  }
  div.jsondiffpatch-child-node-type-object:after {
    content: '}';
  }
  .jsondiffpatch-value pre:after {
    content: ',';
  }
  li:last-child > .jsondiffpatch-value pre:after,
  .jsondiffpatch-modified > .jsondiffpatch-left-value pre:after {
    content: '';
  }
  .jsondiffpatch-modified .jsondiffpatch-value {
    display: inline-block;
  }
  .jsondiffpatch-modified .jsondiffpatch-right-value {
    margin-left: 5px;
  }
  .jsondiffpatch-moved .jsondiffpatch-value {
    display: none;
  }
  .jsondiffpatch-moved .jsondiffpatch-moved-destination {
    display: inline-block;
    background: #ffffbb;
    color: #888;
  }
  .jsondiffpatch-moved .jsondiffpatch-moved-destination:before {
    content: ' => ';
  }
  ul.jsondiffpatch-textdiff {
    padding: 0;
  }
  .jsondiffpatch-textdiff-location {
    color: #bbb;
    display: inline-block;
    min-width: 60px;
  }
  .jsondiffpatch-textdiff-line {
    display: inline-block;
  }
  .jsondiffpatch-textdiff-line-number:after {
    content: ',';
  }
  .jsondiffpatch-error {
    background: red;
    color: white;
    font-weight: bold;
  }

.cameraView {
  background: transparent none !important; 
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}
body {
  background: transparent none !important; 
}


/* 
textarea{  
  display: block;
  box-sizing: padding-box;
  overflow: hidden;

  padding: 10px;
  width: 250px;
  font-size: 14px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, .3);
  border: 0;
} */


/*---------------new styles - revamp - ----------------------*/


/*---------------genaric styles -----------------------------*/
.font-level1{
  font-size: 24px;
}
.form-control:focus, .form-control:hover, .form-control:visited, .form-control:active{
  border:1px solid #ced4da;
  box-shadow: none;
}
.form-control{
  height: calc(1.5em + .75rem + 9px);
}
.rel-posi{
  position: relative;
}
.top40px{
  top: 40px;
}
.padd15{
  padding: 15px;
}
.marg-0-auto{
  margin: 0 auto;
}


/*********************LogIn page***********************/
.symbol-input100{
  position: absolute;
  top: 65px;
  left: 9px;
}
.login-form .form-control{
  padding-left: 30px;
}
.symbol-input100.top43px{
  top: 43px;
}
.sign-btn, .sign-btn:hover, .sign-btn:focus, .sign-btn:active, .sign-btn:visited, .sign-btn:active {
  background-color: #1a7da9 !important;
  border: 0px;
  outline: none;
  box-shadow:none !important;
  font-family: Raleway-Regular;
}
/* .login-body-bg{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 92, 146, 0.86)) !important;
} */
.card.card-signin{
  border: 0px;
  -webkit-box-shadow: 0px 1px 5px 3px rgba(0,94,122,1);
-moz-box-shadow: 0px 1px 5px 3px rgba(0,94,122,1);
box-shadow: 0px 1px 5px 3px rgba(0, 94, 122, 0.48)
}

.btn-google {
  font-family: Raleway-Regular;
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 48px) / 3);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.qr-code{
  font-family: Raleway-Regular;
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 36px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.provider-img{
  width: 20px;
  margin-right: 10px;
}
.facebook-choice{
  color: #4267b2;
  font-size: 18px;
  font-weight: bold;
}
a:hover{
  text-decoration: none;
}
.google-choice{
  color: #555555;
}
.login-logo{
  position: absolute;
  top: 0px;
  z-index: 99;
  left: 41%;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px 3px rgba(0,94,122,1);
  -moz-box-shadow: 0px 1px 5px 3px rgba(0,94,122,1);
  box-shadow: 0px 1px 5px 3px rgba(0, 94, 122, 0.48);
  padding: 15px 18px 18px 14px;
    border-radius: 63px;
}
.login-logo-img{
  width: 60px;
}
.sign-title{
  font-size: 20px;
    font-weight: bold;
    color: #005b90;
}
.sign-label{
  color: #73777b;
  font-weight: bold;
}
.btn-google span, .qr-code span{
  font-size: 13px;
  font-weight: bold;
}
.all-providers-block{
  padding: 10px 0px 0px 25px;
}
.headerbg{
  background-color: #006d82;
}
@media (max-width:770px) and (min-width:400px) {
  .btn-google{
    width: calc((100% - 34px) /2);
  }
  .login-logo{
    left: 40%;
  }
}
@media (max-width:399px)  {
  .btn-google, .qr-code{
    width: calc((100% - 13px) /2);
    margin-right: 6px !important;
  }
  .all-providers-block{
    padding-left: 5px;
  }
  .login-logo{
    left: 39%;
  }
  .login-logo-img{
    width: 50px;
  }
  .btn-google span, .qr-code span{
    font-size: 10px;
  }
  .login-form hr{
    display: none;
  }
  .sign-title{
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 32px !important;
  }
  .card-body.pt-0.last-text{
    padding: 0px;
  }
  .last-text small {
    font-size: 80%;
    font-weight: 400;
}
.sign-label{
  display: none;
}
.symbol-input100{
  top: 33px;
}
.symbol-input100.top43px {
  top: 12px;
}
.last-text small {
  font-size: 75%;
  font-weight: 400;
}
.special-mob.mb-4{
  margin-bottom: 0px !important;
}
}

/*--------------------------------------- Nav-bar ------------------------------------*/
.signout-btn, .signout-btn:hover, .signout-btn:focus, .signout-btn:active, .signout-btn:visited{
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}
.navbar-dark .navbar-nav .active>.nav-link{
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.logo-width{
  width: 35px;
}
.headerbg .nav-link{
  padding: 6px 17px !important;
}