<div class="user-width pt-4">
    <div class="row">
        <div class="col-sm-12 text-center pb-3">
            <h2 class="pagetitle page-title-styles" translate lib="web">userdetails</h2>
        </div>
    </div>
    
    <pre ng-show="ErrorMessage!=null">{{ ErrorMessage }}</pre>
    <form ng-submit="ctrl.submit()" class="form-horizontal" role="form" autocomplete="off">
    
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label" translate lib="web">name</label>
            <div class="">
                <input ng-model="ctrl.model.name" class="form-control input-md" ng-disabled="ctrl.loading==true" />
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label" translate lib="web">username</label>
            <div class="">
                <input ng-model="ctrl.model.username" class="form-control input-md" ng-disabled="ctrl.loading==true"
                    autocomplete="new-password" />
            </div>
        </div>
        <div class="form-group">
            <label for="newpassword" class="col-sm-2 control-label" translate lib="web">password</label>
            <div class="">
                <input ng-model="ctrl.model.newpassword" type="password" class="form-control input-md"
                    ng-disabled="ctrl.loading==true" />
            </div>
        </div>
        <div class="form-group" ng-show="ctrl.model.sid != '' && ctrl.model.sid != null && ctrl.model.sid != undefined">
            <label for="sid" class="col-sm-2 control-label" translate lib="web">SID</label>
            <div class="">
                <input ng-model="ctrl.model.sid" class="form-control input-md" ng-disabled="ctrl.loading==true" />
            </div>
        </div>
        <div class="form-group"
            ng-show="ctrl.model.firebasetoken != '' && ctrl.model.firebasetoken != null && ctrl.model.firebasetoken != undefined">
            <label for="sid" class="col-sm-2 control-label" translate lib="web">Firebase Token</label>
            <div class="">
                <input ng-model="ctrl.model.firebasetoken" class="form-control input-md" ng-disabled="ctrl.loading==true" />
            </div>
        </div>
        <div class="form-group"
            ng-show="ctrl.model.onesignalid != '' && ctrl.model.onesignalid != null && ctrl.model.onesignalid != undefined">
            <label for="sid" class="col-sm-2 control-label" translate lib="web">OneSignal Id</label>
            <div class="">
                <input ng-model="ctrl.model.onesignalid" class="form-control input-md" ng-disabled="ctrl.loading==true" />
            </div>
        </div>
    
        <div class="form-group margB0">
            <label class="col-sm-2 control-label" translate lib="web">providerids</label>
            <div class="">
            </div>
        </div>
        <div class="form-group" ng-repeat="id in ctrl.model.federationids">
            <!-- <label class="col-sm-2 control-label" translate lib="web"></label> -->
            <div class="">
                {{ id }}
                <button type="button" ng-disabled="ctrl.loading==true" class="btn btn-danger width100P" ng-click="ctrl.deleteid(id)"
                    translate lib="web">delete</button>
            </div>
        </div>
    
        <div class="form-inline">
            <div class="form-group mb-2">
                <label class="sr-only" translate lib="web">AddFederationId</label>
            </div>
            <div class="row width100P marg0">
                <div class="form-group  mb-2 col-md-8 ml-0">
                    <input ng-model="ctrl.newid" type="text" class="form-control width100P" placeholder="New identity typically email"
                        autocomplete="new-password">
                </div>
                <div class="col-md-4 text-right">
                    <button type="button" class="btn btn-success mb-2 add-itentity-btn" ng-disabled="ctrl.loading==true" ng-click="ctrl.addid()">add
                        identity</button>
                </div>
            </div>
        </div>
    
    
    
    
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-12 save-btn-style">
                <button type="submit" ng-disabled="ctrl.loading==true" class="btn btn-success width100P" translate
                    lib="web">save</button>
            </div>
        </div>
    
    
    
        <div class="form-inline" ng-repeat="m in ctrl.memberof">
            <label class="col-sm-1 control-label" translate lib="web">memberof</label>
            <div class="col-sm-3">
                {{ m.name }}
            </div>
            <div class="col-sm-2">
                <button ng-click=" ctrl.RemoveMember(m)" type="button" ng-disabled="ctrl.loading==true"
                    class="btn btn-success" translate lib="web">remove</button>
            </div>
        </div>
    
    
    
    </form>
</div>