<!-- <div class="row">
  <h1 translate lib="web">workflows</h1>
  <p class="col-md-5 lead"></p>
  <div class="form-group col-sm-3 form-horizontal">
    <label class="sr-only">Filter</label>
    <div class="input-group unframed-addons">
      <div class="input-group-addon"><i class="fas fa-search"></i></div>
      <input ng-model="ctrl.searchstring" ng-change="ctrl.Search()" class="form-control input-md"
        ng-model-options="{debounce: 400}" />
    </div>
  </div>
</div> -->


<div class="row pt-4 entiries-page pb-3">
  <div class="pt-4 col-sm-8 ">
    <h3 class="page-header" translate lib="web">workflows</h3>
  <p  class="col-md-5 lead"></p>
  </div>
 


  <div class="pt-4 form-group col-sm-4 form-horizontal">
     
    <div class="input-group unframed-addons">
      <label class="sr-only">Filter</label>
      <div  class="input-group-addon flow-search ">
        <i class="fas fa-search"></i></div>
      <input ng-model="ctrl.searchstring" ng-change="ctrl.Search()" class="form-control input-md rel-posi search-input"
        ng-model-options="{debounce: 400}" />
    </div>
  </div>
</div>

  

  
<div class="limiter">
  <div class="container-table100">
    
    <div class="wrap-table100">
      <div class="table100 ver3 m-b-110">
        <table data-vertable="ver3" id="table1" class="table table-striped" when-scrolled="ctrl.more()">
          <thead>
            <tr class="row100 head">
              <th class="column100 column1" data-column="column1" scope="col" ng-click="ctrl.ToggleOrder('name')"><b translate lib="web">name</b></th>
              <th class="column100 column1" data-column="column1" scope="col" ng-click="ctrl.ToggleOrder('_createdby')"><b translate lib="web">createdby</b></th>
              <th></th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr  class="row100"  ng-repeat="model in ctrl.models">
              <td class="column100 column1">{{model.name}}</td>
              <td class="column100 column1"><span translate lib="web">{{model._createdby}}</span></td>
              <td class="column100 column1">
                <a ng-href="#/Form/{{model._id}}" translate lib="web">invoke</a></td>
              <td class="column100 column1">
                
          <a href ng-click="ctrl.DeleteOne(model)"><i class="az-trash"></i></a>
              </td>
             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>